
.wrapper {
    height: 100vh;
    width: clamp(360px, 100vw, 1280px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40%;
}

.nav {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav h1 {
    font-size: 1.3rem;
}

.exit {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    height: 100%;
    padding: 5px 15px 5px 15px;
}

.exit p {
    font-size: 1.2rem;
}

.exitIcon {
    width: 18px;
    height: 18px;
}

form {
    width: clamp(280px, 70%, 600px);
    height: clamp(260px, 80%, 360px);
    display: grid;
    grid-template-rows: 15% 1fr auto 15%;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 15px;
    border-radius: 5px;
}
form textarea,
form input,
form button {
    background-color: #F9FAFB;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
    resize: none;
}

form input,
form button {
    font-weight: 600;
}

form button:active {
    background-color: rgb(0, 218, 98);
}

.colorSelector {
    background-color: rgba(231, 231, 231, 0.76);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.colorSelector .selection {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid black;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    form {
        grid-template-rows: 15% 1fr auto;
        position: relative;
    }

    .colorSelector {
        position: absolute;
        flex-direction: column;
        top: 0;
        right: -40px;
        left: auto;
        transform: none;
        border: 1px solid black;
        background-color: transparent;
        border-radius: 50px;
        padding: 5px;
    }

    form button {
        width: max-content;
        padding: 7px 20px;
        justify-self: end;
    }
}